* {
    box-sizing: border-box;
}

body {
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}


.top {
    width: 80vh;
    padding: 0;
    margin: 0;
}   

.image {
    margin: 0;
    padding: 0;
}

.image1 {
   display: inline; 
}

.image2 {
    display: inline;
    
}

.image3 {
    display: inline;

}

.contato {
  display: flex;
  margin: 0;
  padding: 0;
}

.form {
    margin: 20px;
    padding: 0.2em;
    border: 1 px solid #59429d;
    box-shadow: 2px 2px 2px rgba (0,0,0,0.2);
    display: block;
}


.contacts {
    margin: 20px;
}

.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: relative;
}

.botao:hover {
    background: #ccbbff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    box-shadow: none;
}
